.Timeline{
    padding: 0 !important;
}

.Timeline .Timeline_header{
    padding-top: 7px;

}


.Timeline .Timeline_FirstItem{
    min-width: 80px !important;
}



.Timeline .MuiTimelineContent-root{
    min-height: 0px;


}

.Timeline .MuiTimelineItem-root{
    min-width: 0px;
}

.Timeline .MuiTimelineItem-missingOppositeContent:before{
    display:none;
}

.Timeline .Timeline_dot_header{
    color: black !important;
    background-color: var(--main-color) !important;
    font-size: small !important;
    padding: 10px !important;
}

.Timeline .Timeline.dot{
    color: black; 
    border-color: var(--main-color) !important;
    padding: 2px !important;
}

/* .Timeline .MuiTimelineConnector-root{
    background-color: #b8abab00 ;
} */

.Timeline .Timeline_dot_header > .MuiSvgIcon-root {
    font-size: 20px;
    color: rgb(0, 0, 0)

}

.Timeline .css-1fe7e6p-MuiTimelineSeparator-root{
    padding-left: 18px;
}
.css-6xp33q-MuiTimelineDot-root{
    border-color: red !important;
}



